.puppy {
  float: right;
  border: 20px solid blue;
}
.columns {
  float: right;
  width: 400px;
}
.manbag {
  width: 10%;
  length: 100%;
  float: left;
  background-color: grey;
  border: 20px solid red;
  padding: 40px;
  margin: 10px;
}
